<!DOCTYPE html>
<html>

<head>
       <meta charset="utf-8">
   <meta name="renderer" content="webkit">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <link href="../public/css/font-awesome.min.css" rel="stylesheet">
   <link href="../public/css/pizza.css" rel="stylesheet">
    <title>名场组件使用示例</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../public/site/index.css" rel="stylesheet">


</head>

<body>
    <div class="main">
        <div id="tasklist">
        </div>
    </div>
</body>
<script type="text/javascript" src="../public/modules/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/linvodb.js"></script>
<script type="text/javascript" src="../lib/sshSync.js"></script>
<script type="text/javascript" src="../public/site/index.js"></script>
<script type="text/javascript" src="../lib/event.js"></script>
<script type="text/javascript" src="../lib/menu.js"></script>
<script type="text/javascript">
menu.init();
sync.init();
</script>

</html>
