.checkgroup > label {
  display: none!important;
}
.checkgroup > input {
  display: inline-block !important;
}
.radiogroup > label {
  display: none!important;
}
.radiogroup > input {
  display: inline-block !important;
}
