* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", simsun;
  font-size: 14px;
  line-height: 22px;
  color: #2f2725;
  background-color: #ffffff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  font-weight: 900;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.small {
  color: rgba(47, 39, 37, 0.6);
}
a {
  background-color: transparent;
  color: #1b8ac2;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}
a:hover,
a:active {
  color: #005d9c;
  outline: 0;
}
.textright {
  text-align: right!important;
}
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  content: "\200B";
}
.tip-detail {
  position: relative;
  display: none;
  line-height: 1.5em;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 1px #000000;
  -moz-box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
  border-radius: 5px;
  border: 5px solid #82c7ec;
}
.tip-detail i {
  position: absolute;
  bottom: -15px;
  left: 10px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #82c7ec;
  border-left-color: #82c7ec;
  content: '\200B';
}
.tip-detail span {
  color: #d40000;
}
.member-14300018 {
  position: relative;
  display: none;
  width: 310px;
  height: 120px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 8px;
  background-color: #2375b6;
  border-radius: 5px;
  box-shadow: 0 0 1px #000000;
  -moz-box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
}
.member-14300018 .span-1 {
  font-size: 16px;
}
.member-14300018 i {
  position: absolute;
  left: 14px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: '\200B';
}
.member-14300018 .arrow-1234 {
  bottom: -10px;
  border-top-color: #2375b6;
  border-left-color: #2375b6;
}
.member-14300018 .arrow-4321 {
  top: -10px;
  border-bottom-color: #2375b6;
  border-left-color: #2375b6;
}
.member-14300018 label {
  display: inline-block;
  width: 100%;
  height: 28px;
  text-indent: 25px;
  line-height: 36px;
  background: url('/img/label.png?__sprite') no-repeat;
}
.member-14300018 em {
  font-style: normal;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: 0%;
}
.hold-space {
  width: 100%;
  height: 146px;
  text-align: center;
  border: 2px solid #5f6264;
  background-color: #dde3e7;
}
.hold-space .title {
  font-size: 20px;
  line-height: 102px;
  height: 102px;
}
.hold-space .des {
  line-height: 44px;
  height: 44px;
  color: #fff;
  background-color: #5f6264;
}
.turnpage-hud {
  background-color: #7bd2ff;
  text-align: right;
}
.turnpage-hud .btn {
  width: 90px;
  border: 0;
  border-left: 1px solid #fff;
  border-radius: 0;
}
.turnpage-std {
  text-align: right;
}
.turnpage-std i,
.turnpage-std em {
  font-style: normal;
  color: #308cbb;
}
.turnpage-std i {
  line-height: 34px;
  padding: 0 10px;
  cursor: pointer;
}
.turnpage-std em {
  font-family: 宋体;
  vertical-align: 16%;
}
.turnpage-std .choice {
  color: red;
}
.turnpage-std .marginleft {
  margin-left: 3px;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  height: 34px;
  width: 80px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: #7bd2ff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn:active,
.btn.active {
  color: inherit;
  background-color: #ccc;
}
.btn:disabled,
.btn.disabled {
  opacity: .6;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.btn-primary {
  color: #ffffff;
  border: 1px solid #6cbde9;
}
.btn-primary.hover,
.btn-primary:hover {
  color: #fff;
  background-color: #56b3e5;
}
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #40a9e2;
}
.btn-success {
  color: #ffffff;
  border: 1px solid #ff4e08;
}
.btn-success.hover,
.btn-success:hover {
  color: #fff;
  background-color: #ee4300;
}
.btn-success:active,
.btn-success.active {
  color: #fff;
  background-color: #d43c00;
}
.btn-info {
  color: #ffffff;
  border: 1px solid #46b8da;
}
.btn-info.hover,
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
}
.btn-info:active,
.btn-info.active {
  color: #fff;
  background-color: #28a1c5;
}
.btn-warning {
  color: #ffffff;
  border: 1px solid #eea236;
}
.btn-warning.hover,
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
}
.btn-warning:active,
.btn-warning.active {
  color: #fff;
  background-color: #df8a13;
}
.btn-danger {
  color: #ffffff;
  border: 1px solid #bb0000;
}
.btn-danger.hover,
.btn-danger:hover {
  color: #fff;
  background-color: #a10000;
}
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #880000;
}
.btn-icon {
  position: relative;
  font-size: 23px;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  color: #7bd2ff;
}
.btn-icon:hover,
.btn-icon.hover {
  color: #56b3e5;
}
.btn-icon-small {
  color: #c0c8c8;
}
.btn-icon-small:hover {
  color: #56b3e5;
}
.btn-block {
  display: block;
  width: 100%;
  height: 51px;
  margin-bottom: 10px;
  font-size: 16px;
}
.btn-lg {
  width: 139px;
}
select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  height: 23px;
  -webkit-appearance: none;
  padding: 0 5px;
  line-height: 23px;
  background-color: #ffffff;
  border: 1px solid #c0c8c8;
  border-radius: 3px;
  outline: none;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.placeholder {
  color: #999;
}
textarea {
  height: auto;
  line-height: 24px;
  word-break: break-all;
  margin-bottom: -3px;
}
textarea:focus {
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.checkbox-inline {
  margin-right: 20px;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  vertical-align: middle;
}
.checkbox-inline > input[type="checkbox"],
.checkbox-inline input[type="radio"] {
  position: absolute;
  margin-left: -20px;
  top: 2px;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
}
.input-lg {
  height: 33px!important;
  line-height: 33px!important;
}
.checkgroup > input {
  display: none;
}
.checkgroup > input + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
  display: inline-block;
  padding: 9px;
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
  line-height: 22px!important;
}
.checkgroup > input:checked + label::after {
  color: #99a1a7;
  content: "✔";
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: -1px;
  left: 4px;
}
.radiogroup > input {
  display: none;
}
.radiogroup > input + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
  display: inline-block;
  padding: 9px;
  position: relative;
  border-radius: 50px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.radiogroup > input:checked + label::after {
  background: #99a1a7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
  border-radius: 50px;
  color: #99a1a7;
  content: " ";
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  height: 12px;
  width: 12px;
}
.form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-group > input {
  width: auto!important;
}
.btn-select {
  width: 240px;
  height: 25px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *float: left;
  *margin-right: 10px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #c0c8c8;
}
.btn-select .select-button {
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  padding: 0 26px 0 10px;
  overflow: hidden;
  text-align: left;
  outline: none;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.btn-select .select-down {
  position: absolute;
  top: 9px;
  right: 12px;
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0;
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
}
.btn-select .select-list {
  width: 100%;
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 3px #ddd;
  border-radius: 3px;
  display: none;
  z-index: 2;
  position: absolute;
  left: -1px;
  top: 26px;
  overflow: hidden;
}
.btn-select .select-list ul {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 23px;
  max-height: 240px;
}
.btn-select .select-list ul li {
  width: auto;
  height: 25px;
  padding-left: 10px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.btn-select .select-list ul li.selected,
.btn-select .select-list ul li:hover {
  background: #e6ecf5;
}
.validate-err {
  border-color: #d40000 !important;
}
.area-wrap {
  display: inline-block;
  position: relative;
}
.area-wrap input {
  width: 300px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.area-wrap .area-list {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: 300px;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  background-color: #fff;
  overflow: auto;
  z-index: 2;
  clear: both;
  border: 1px solid #c0c8c8;
}
.area-wrap .area-list li {
  float: left;
  padding: 3px 5px;
  margin-bottom: 10px;
  margin-right: 15px;
  cursor: pointer;
}
.area-wrap .area-list li:hover {
  color: red;
}
.area-wrap .area-list .red {
  color: red;
}
