<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/head/head.html?__inline">
    <title>名场组件使用示例</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/site/index.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div id="tasklist">
        </div>
    </div>
</body>
<script type="text/javascript" src="/modules/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/lib/linvodb.js"></script>
<script type="text/javascript" src="/lib/sshSync.js"></script>
<script type="text/javascript" src="/site/index.js"></script>
<script type="text/javascript" src="/lib/event.js"></script>
<script type="text/javascript" src="/lib/menu.js"></script>
<script type="text/javascript">
menu.init();
sync.init();
</script>

</html>
